/* NAVBAR */
.navbar {
  width: 100%;
  padding: 15px 25px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  height: 32px;
}

.explore {
  color: #e9c46a;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 3px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.create {
  background-color: #1f1f1f;
  color: white;
}

.nav-btn {
  background-color: #333;
  color: white;
}

.signup {
  background-color: #0a84ff;
  color: white;
}