/* NAVBAR */
.navbar {
  width: 100%;
  padding: 15px 15px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */
.nav-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* LOGO */
.logo {
  height: 32px;
}

.explore-block {
  display: flex;
  flex-direction: column;
}

.explore {
  color: #e9c46a;
  font-size: 11px;
  margin-bottom: 3px;
}

/* LINKS */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.bold-link {
  font-weight: bold;
}

.spark-link {
  color: #aaa !important;
  font-weight: normal;
  margin-left: 10px;
}

/* RIGHT SIDE */
.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}

/* BOTONES */
.btn {
  border: none;
  padding: 10px 22px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: white;
}

.create,
.nav-btn,
.signup {
  background-color: #2a2a2a;
}

.search-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}
