/* NAV */
.navbar {
  width: 100%;
  padding: 20px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.logo {
  height: 32px;
  margin-right: 1.5em;
}

.explore-block {
  display: flex;
  flex-direction: column;
}

.explore {
  color: #e9c46a;
  font-size: 14px;
  margin-bottom: 3px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.bold-link {
  font-weight: bold;
}

.spark-link {
  color: #aaa !important;
  font-weight: normal;
  margin-left: 10px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.btn {
  border: none;
  padding: 15px 22px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #545662;
  color: white;
}

.create,
.nav-btn,
.signup {
  background-color: #2a2a2a;
}

.search-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 25px;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 768px) {
  .nav-left, .nav-right {
    width: 100%;
    justify-content: center;
  }
  .nav-links {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}
