.navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #11122b;
    color: #cbcbcb;
    padding: 20px 100px;
}

.left-column {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-column .icon i {
    font-size: 2em;
}

.contact-hours-wrapper {
    display: grid;
    gap: 5px;
}

.contact-hours-wrapper .phone {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 0.9em;
    color: #cbcbd0;
}

.contact-hours-wrapper .hours {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 0.8em;
    color: #858585;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.banner-image img {
    width: 216px;
    height: auto;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.links-wrapper a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #cbcbd0;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper a:hover {
    color: #cea135;
    letter-spacing: 2px;
}

.right-column {
    display: flex;
    align-items: center;
}

.right-column .address-wrapper {
    font-family: "Ubuntu Condensed", sans-serif;
    text-align: right;
}

.right-column .address-wrapper a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.right-column .address-wrapper a:hover {
    color: #cea135;
}

.right-column .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.right-column .contact-icon a {
    color: #cbcbcb;
    transition: 0.5s;
}

.right-column .contact-icon a:hover {
    color: #cea135;
}