.footer {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.footer img {
    max-width: 150px;
}

.footer-phone-hours {
    margin: 20px 0;
}

.footer-phone-hours span {
    display: inline-block;
    margin: 0 10px;
}

.links-wrapper {
    margin: 20px 0;
}

.links-wrapper a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.social-media-icons-wrapper a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.2em;
}

footer .copyright-wrapper {
    margin-top: 20px;
    font-size: 0.9em;
}
