/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #888888, #222222);
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 18px;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  gap: 40px;
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 33px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 25px;
}

.bold {
  font-weight: 700;
}

.description {
  font-size: 32px;
  color: #bdbdbd;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  gap: 30px;
}

/* BOTONES DE HERO */
.hero-buttons .hero-btn {
  padding: 25px 30px;
  font-size: 28px;
  border-radius: 2px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  transition: background 0.3s;
}

/* Botón verde */
.hero-buttons .hero-btn-green {
  background-color: #41d16a;
  color: rgb(0, 0, 0);
}

/* Botón negro */
.hero-buttons .hero-btn-black {
  background-color: #111;
  color: white;
}

/* HERO RIGHT */
.hero-right {
  width: 50%;
  text-align: left;
}

.hero-right img {
  width: 100%;
  border-radius: 6px;
}

.caption {
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 16px;
  color: #ffffff;
}

.blue {
  color: #3ea6ff;
}