/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  font-family: "Inter", sans-serif;
  color: white;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px 50px;
  gap: 40px;
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 20px;
}

.bold {
  font-weight: 700;
}

.description {
  font-size: 20px;
  color: #bdbdbd;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.big {
  padding: 18px 28px;
  font-size: 18px;
}

.signup-green {
  background-color: #41d16a;
  color: black;
  font-weight: 600;
}

.learn {
  background-color: #1f1f1f;
  color: white;
}

/* HERO RIGHT */
.hero-right {
  width: 50%;
  text-align: center;
}

.hero-right img {
  width: 100%;
  border-radius: 6px;
}

.caption {
  margin-top: 12px;
  font-size: 14px;
  color: #bbb;
}

.blue {
  color: #3ea6ff;
}