/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #33383e,#1d1e22);
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 18px;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  padding-bottom: 0;
}

/* HERO LEFT */
.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 25px;
}

.bold {
  font-weight: 700;
}

.description {
  font-size: 32px;
  color: #bdbdbd;
  margin-bottom: 40px;
}

/* BOTONES DE HERO */
.hero-buttons {
  display: flex;
  gap: 30px;
}

.hero-buttons .hero-btn {
  padding: 15px 25px;
  font-size: 36px;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  transition: background 0.3s;
}

.hero-btn-green {
  background-color: #52c584;
  color: black;
}

.hero-btn-black {
  background-color: #111;
  color: white;
}

/* HERO RIGHT */
.hero-right {
  width: 50%;
  text-align: left;
}

.hero-right img {
  width: 100%;
  border-radius: 6px;
  display: block;
  margin: 0;
}

.caption {
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 16px;
  color: #ffffff;
}

.blue {
  color: #3ea6ff;
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    padding: 30px;
  }
  .hero-left, .hero-right {
    width: 100%;
  }
  .hero-left h1 {
    font-size: 28px;
  }
  .description {
    font-size: 22px;
  }
  .hero-buttons .hero-btn {
    font-size: 24px;
    padding: 15px 20px;
  }
}